<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
<body>
<h1>Thêm thành phố</h1>
<form id = "customers" th:action="@{/create}" method="post" th:object="${city}">
    <label>Tên:
        <input type="text" th:field="*{name}" required>
    </label>
    <label>Quốc gia:
        <select th:field="*{country}">
            <option th:each="c : ${country}" th:value="${c.getId()}" th:text="${c.getName()}"></option>
        </select>
    </label>
    <label>Diện tích:
        <input type="text" th:field="*{area}" required>
    </label>
    <label>Dân số:
        <input type="text" th:field="*{population}" required>
    </label>
    <label>GDP:
        <input type="text" th:field="*{gdp}" required>
    </label>
    <label>Giới thiệu:
        <input type="text" th:field="*{description}" required>
    </label>
    <p></p>
    <button type="submit">Nhập thành phố</button>
</form>
<br>
<a th:href="@{/}">Thoát</a>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>